<li class="row flexrow {{#if condition.hidden}}hidden{{/if}}" data-mapping-row="{{@index}}" data-condition-id="{{condition.id}}" >
            <!--column 1-->
            
            <!--column 2-->
            <div class="flexcol content1">
                
                <!--row 1 icon + text-->
                <div class="flexrow">
                    <!--row 1 col 1 icon-->
                    <div class="flexcol icon">
                        <img name="icon-{{@index}}" src="{{condition.icon}}" title="Status Icon" class="icon" />
                    </div>
                    <!--row 1 col 2 text-entry-->
                    <div class="flexcol text-entry">
                        <div class="flexrow">
                            <div class="condition">
                                <div class="wrapper-rel">
                                    <label for="condition-{{@index}}" class="inset-label">{{localize "combat-utility-belt.WORDS.Name"}}</label>
                                    <input type="text" name="condition-{{@index}}" title="Condition" value="{{condition.name}}" class="condition condition-text-input" placeholder="Condition Name" data-dtype="String" {{#if isDefault}}disabled{{/if}}>
                                </div>
                            </div>
                        </div>
                        <div class="flexrow condition-lab text-entry reference">
                            <div class="wrapper-rel">
                                <label for="reference-item-{{@index}}" class="inset-label">{{localize "combat-utility-belt.WORDS.Reference"}}</label>
                                <input type="text" name="reference-item-{{@index}}" value="{{condition.referenceId}}" title="Condition Reference" placeholder="{{localize "combat-utility-belt.ENHANCED_CONDITIONS.ConditionLab.NoReference"}}" {{#if isDefault}}disabled{{/if}}>
                            </div>
                            <div class="enriched-link">{{{condition.enrichedReference}}}</div>
                        </div>
                    </div>
                </div>
                <!--row 2 reference-->
                <div class="flexrow path">
                    <div class="wrapper-rel">
                        <label for="icon-path-{{@index}}" class="inset-label">{{localize "combat-utility-belt.WORDS.Icon"}}</label>
                        <input type="text" name="icon-path-{{@index}}" title="Status Icon Path" class="icon-path condition-text-input" value="{{condition.icon}}" placeholder="/icons/example.svg" data-dtype="String" {{#if isDefault}}disabled{{/if}}>
                    </div>
                    <button type="button" name="file-picker-{{@index}}" class="file-picker" data-type="image" data-target="icon-path-{{@index}}" title="Browse Files" tabindex="-1" {{#if isDefault}}hidden{{/if}}>
                            <i class="fas fa-file-import fa-fw"></i>
                        </button>
                </div>
            </div>
            <!--column 3-->
            <div class="flexcol content2">
                <div class="flexrow related-buttons">
                    {{!-- <div class="active-effect"> --}}
                        <button type="button"
                            name="option-config"
                            class="option-config"
                            title="{{condition.optionButtonTitle}}">
                            <i class="fas fa-cog"></i> {{localize "combat-utility-belt.ENHANCED_CONDITIONS.ConditionLab.Buttons.Options"}}
                        </button>
                        <button type="button"
                                class="active-effect-config"
                                title="{{#if condition.isNew}}
                                    {{localize "ENHANCED_CONDITIONS.Lab.ActiveEffects.TitleDisabledNew"}}
                                    {{else if isDefault}}{{localize "ENHANCED_CONDITIONS.Lab.ActiveEffects.TitleDisabledDefault"}}
                                    {{else}}{{localize "ENHANCED_CONDITIONS.Lab.ActiveEffects.Title"}}
                                    {{/if}}" 
                                {{#if (or condition.isNew isDefault) }}disabled{{else}}{{/if}}>
                            <i class="fas fa-hand-sparkles"></i> Active Effect
                        </button>
                        <div class="flex-break"></div>
                        <button type="button"
                            class="trigger-config"
                            title="{{condition.triggerButtonTitle}}">
                            {{> "modules/combat-utility-belt/templates/partials/triggler-icon.hbs"}} Triggers
                        </button>
                        <button type="button"
                            name="macro-config"
                            class="macro-config"
                            title="{{condition.macroButtonTitle}}">
                            <i class="fas fa-code"></i> Macros
                        </button>
                        
    
                </div>
            </div>
            <!--column 4-->                  
            <!--delete row-->
            <div class="flexcol row-controls">
                <div class="move-up">
                    {{#unless sortDirection}}
                    {{#unless (eq key 0)}}<a class="move-up"><i class="fas fa-chevron-up"></i></a>{{/unless}}
                    {{/unless}}
                </div>
                <div class="remove-row">
                    {{#unless isDefault}}
                    <a name="remove-row-{{@index}}" class="remove-row" title="Delete Row">
                        <i class="fas fa-trash"></i>
                    </a>
                    {{/unless}}
                </div> 
                <div class="move-down">
                    {{#unless sortDirection}}
                    {{#unless (eq key conditionMapLength)}}<a class="move-down"><i class="fas fa-chevron-down"></i></a>{{/unless}}
                    {{/unless}}
                </div>
            </div>
              
        </li>