<div class="enhanced-conditions header">
    <h3>
        {{#if type.added}}
        {{localize "TEMPLATES.EnhancedConditions.ChatCardTitle.Added"}}
        {{/if}}
        {{#if type.removed}}
        {{localize "TEMPLATES.EnhancedConditions.ChatCardTitle.Removed"}}
        {{/if}}
        {{#if type.active}}
        {{localize "TEMPLATES.EnhancedConditions.ChatCardTitle.Active"}}
        {{/if}}
        
    </h3>
</div>
<div class="enhanced-conditions content" data-token-id="{{tokenId}}">
    <ul class="chat-message condition-list">
        {{#each conditions as |condition key|}}
        <li class="flexrow" id="condition-{{@index}}" data-condition-name="{{condition.name}}">
            <div class="condition-icon" style="flex: 0 0 24px; margin: 0px 6px 0px 0px">
                <img src="{{condition.icon}}" class="condition-icon chat-message" title="{{condition.name}}">
            </div>
            {{#if hasReference}}
            <div class="condition-reference" style="flex: 2; margin: 3px 0px 0px 0px" height="20px">
                {{condition.referenceId}}{ {{~condition.name~}} }
            </div>
            {{else}}
            <div class="condition-name" style="flex: 2; margin: 3px 0px 0px 0px" height="20px">
                {{condition.name}}
            </div>
            {{/if}}
            <div class="remove-row" style="flex: 0 0 20px">
                <a name="remove-row" title="Remove Condition"><i class="fas fa-times"></i></a>
            </div>
        </li>
        {{/each}}
    </ul>
</div>